* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 12%;
  background-image: url(/assets/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

/* -----------------------------HEADER------------------------------ */
/* ----- Style the header section ----- */
.header {
  text-align: left;
  padding: 0px;
}

.header p.name {
  font-family: Copperplate, Garamond, serif;
  font-size: 30px;
  padding-top: 5px ;
  padding-bottom: 0;
  margin: 0;
  color: white;
}

.header p.tagline {
  font-family: Garamond, serif;
  font-size: 16px;
  margin: 0;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Create two unequal columns that float next to each other for the title section */
.header-section {
  float: left;
  padding: 10px;
}

.header-section.right {
  max-width: 600px;
}

/* Create three unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 300px;
}

/* Middle column */
.column.middle {
  width: 500px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img.logo {
  float: left;
  max-width: 76.797px;
}

/* ----- Navigation ----- */
.topnav-icons {
  margin-top: 25px;
  margin-bottom: 10px;
} 

/* Add a black background color to the top navigation */
.topnav {
  background-color: #303949;
  overflow: hidden;
  clear: left;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: white 1px solid;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 8px;
}

/* Change the color of links on hover for logo*/
.header-section.left a:hover {
  background-color: #303949;
  color: black;
}

.header-section.left a {
  padding: 0;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  border-radius: 8px;
  color: white;
}

/* -----------------------------INDEX PAGE------------------------------ */
/* hero-section */
.hero-section {
  padding-top: 15vh;
  text-align: center;
  height: 68vh;
}

.hero-section h1 {
  color: white;
  font-size: 60px;
  font-family: Copperplate, Garamond, serif;
  letter-spacing: 2px;
}

/* -----------------------------CONTACT PAGE------------------------------ */
/* styling contact page */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  text-align: center;
  padding-bottom: 45px;
  margin: 100px 250px 60px 250px;
  border-radius: 4px;
  padding-top: 10px;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.email p {
  margin: 0;
}

.contact i {
  padding-right: 8px;
}

.middle-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.contact-img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


/* adding contact form styling */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #1a1af5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #3b8d3f;
}

/* Add a background color and some padding around the form */
.contactform {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #303949;
  padding: 20px;
  margin-top: 20px;
  margin-left: 12px;
  text-align: left;
  margin: 20px 100px 0 100px;
}

.contactform h2 {
  margin-top: 0;
}

/* -----------------------------PORTFOLIO PAGE------------------------------ */
/* Image gallery styles */
.project-main {
  text-align: center;
  padding: 20px 40px 20px 40px;
  background-color: white;
  margin: 20px 90px 50px 90px;
  border-radius: 4px;
}
.projects {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-radius: 4px;
}

.project-main h1 {
  margin-bottom: 36px;
}

.project-main p {
  margin-top: 8px;
}

.project-main h3 {
  font-size: 100%;
  /* font-weight: 300; */
}

div.gallery {
  margin: 10px;
  border: 1px solid #303949;
  float: left;
  width: 23%;
  border-radius: 4px;
  background-color: #f2f2f2;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #777;
  margin-bottom: 5px;
  border-radius: 4px;
}

div.desc {
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.desc h4 {
  margin: 15px;
}

.desc p {
  padding: 10px 15px 5px 15px;
}

/* -----------------------------ABOUT PAGE------------------------------ */
.about {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 50px;
  background-color: #303949;
  margin: 15px 250px 15px 250px;
  border-radius: 4px;
  margin-bottom: 60px;
}

.about-image {
  justify-content: center;
  padding-bottom: 20px;
}

.about h1 {
  margin: 10px;
  margin-bottom: 36px;
}

.about p {
  font-size: 120%;
  font-weight: 300;
}

/* -----------------------------SERVICES PAGE------------------------------ */
div.services-gallery {
  margin: 10px;
  border: 1px solid #303949;
  border-radius: 8px;
  float: left;
  width: 23%;
  background-color: #f2f2f2;
}

.projects-services {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-radius: 4px;
}

.services {
  width: auto;
  background-color: #303949;
  height: 100px;
  border-radius: 4px 4px 0 0;
}
  
.services h4 {
  margin: 0;
  padding: 30px 20px 50% 20px;
  color: white;
  letter-spacing: 0.5px;
}

#bottom-card {
  margin-right: 5%;
}

 /* -----------------------------FOOTER------------------------------ */
/* Style the footer */
.footer {
  background-color: #303949;
  overflow: hidden;
  clear: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-top: white 1px solid;
}

.footer i {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

/* Haven't styled for responsive layout: */
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }*/